
<div class="containter">
    <div class="row justify-content-center">
        <h2 >Login</h2>
    </div>
    <div class="row justify-content-center">
        <label class="col-3" for="loginEmail"> Usuário </label>
    </div>
    <div class="row justify-content-center">
        <input class="col-3" type="email" id="loginEmail" name="loginEmail">
    </div>
    <div class="row justify-content-center">
        <label class="col-3" for="loginSenha"> Senha </label>
    </div>
    <div class="row justify-content-center">
        <input class="col-3" type="password" id="loginSenha" name="loginSenha">
    </div>
    <div class="row justify-content-center">
        <button>Login</button>
    </div>
</div>
